@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html, body {
	font-size: 16px;

	@screen md { font-size: 17px; }
	@screen lg { font-size: 18px; }
}

body {
	scroll-behavior: smooth
}

@layer components {
	.styled-html {
		@apply text-xl leading-8;

		h1, h2 { @apply text-3xl md:text-4xl; }
		a { @apply underline hover:bg-toxic dark:hover:text-toxic dark:hover:bg-transparent }
		p, ul { @apply mt-2; }
		p + h1, p + h2, ul + h1, ul + h2 { @apply mt-8; }
		pre {
			@apply p-2 -mx-2 mt-8;
		}
	}
	pre { overflow-x: scroll; }
}

@layer utilities {
	[x-cloak] {
		display: none
	}
}
