@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html, body {
	font-size: 16px;

	@screen md { font-size: 17px; }
	@screen lg { font-size: 18px; }
}

body {
	scroll-behavior: smooth
}

@layer components {
	.styled-html {
		h1, h2 { @apply text-3xl; }
		a { @apply underline }
		p { @apply mt-2; }
		p + h1, p + h2 { @apply mt-8; }
	}
}

@layer utilities {
	[x-cloak] {
		display: none
	}
}
